* {
    font-family: "Poppins", sans-serif;
}

:root {
    --bs-primary: #000000;
    --bs-secondary: #1daabe;
}

.bg-prim{
    background-color: var(--bs-primary);
}

.bg-sec {
    background-color: var(--bs-secondary);
}

.text-sec {
    color: var(--bs-secondary);
}

html {
  font-size: 15px;
}

html {
    position: relative;
    height: 100%;
}

main {
    margin-top: 80px;
    flex: 1;
    min-height: 100vh;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #186d6d;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
   color: inherit;
}

.home_head{
    background-image: url('../home_bg.png');
    background-size: cover;
    background-position: center;
}

.logo img {
    width: 60px;

}

.logo {
    transition: transform 0.2s ease-in-out;
}

.logo:hover {
    transform: scale(1.07);
}

.button-sec {
    color: white;
}

.button-sec:hover {
    background-color: #186d6d;
    color: white;
}

.offer-btn {
    background-color: black;
    color: white;
    border: 2px solid black;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.offer-btn:hover {
    background-color: white;
    color: var(--bs-primary);
}

.socials i, socials a {
    color: #c8c8c8;
    transition: color 0.3s ease;
    text-decoration: none;
}

.socials:hover i {
    color: white;
}

.nav-item {
    transition: transform 0.2s ease-in-out;
    border-radius: 15px;
    margin-right: 20px;
    padding: 0px 15px;
}

.nav-item:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 2px #606060;
}

.car-img {
    object-fit: cover;
    height: 100%;
}

.card {
    transition: transform 0.5s ease-in-out;
}

.card:hover{
    transform: scale(1.02);
}

msg {
    transition: transform 0.3 ease-in-out;
}

.msg:hover {
    background-color: #186d6d;
    transform: scale(1.05);
}

.stats {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin: 3rem 0px;
}

footer {
    width: 100%;
}

.footer-nav {
    font-size: 1.1rem;
    list-style: none;
    border-left: 1px solid #606060;
    padding : 10px 15px;
}

.footer-nav li {
    transition : transform 0.2s ease-in-out;
}

.footer-nav li:hover{
    transform: scale(0.99);
}

.chat-box {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: var(--bs-secondary);
    color: white;
    padding: 12px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    z-index: 1000;
}

.chat-box:hover {
    background-color: #186d6d;
    transform: scale(1.05);
}

@media (max-width: 768px) {
    main {
        margin-top: 70px;
    }

    .logo img {
        width: 50px;
    }
}
