@{
    ViewData["Title"] = "Úvod";
}

<div class="home_head">
	<div class="container">
		<div class="w-50 text-light pb-2">
			<h2 class="display-4">PinyaCar. Auto snů levou zadní.</h2>
			<h4>Vítejte u nás!</h4>
		</div>
	</div>
</div>

<div class="container pt-3 mb-3">

	<p>Aplikace má tři základní stránky, tak jak vidíte v menu. Domovská stránka (tato stránka) obsahuje uvítací text a tlačítko pro přechod na stránku s nabídkou vozidel. Stránka "Nabídky" zobrazuje seznam všech dostupných vozidel v nabídce, kde můžete vidět základní informace o každém vozidle a přejít na detailní zobrazení. Vozidlo z nabídky jde smazat, upravit nebo přidat úplně nové. ChatBot tlačítko je pouze ilustrační. Aplikace je responzivní vzhledem k velikosti obrazovky. Stránka "Kontakt" obsahuje dva zaměstnance firmy. Footer obsahuje základní odkazy na stránky a ikony sociálních sítí, sloužící jako odkazy.</p>

	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer rutrum, orci vestibulum ullamcorper ultricies, lacus quam ultricies odio, vitae placerat pede sem vel illum qui dolorem eum fugiat quo voluptas nulla pariatur? Sed elit dui, pellentesque a, faucibus vel, interdum nec, diam. Nullam faucibus mi quis velit. Sed elit dui, pellentesque a, faucibus vel, interdum nec, diam. Maecenas lorem. Aenean placerat. Donec ipsum massa, ullamcorper in, auctor et, scelerisque sed, est. Vivamus luctus egestas leo. Nullam eget nisl. Integer pellentesque quam vel velit. Phasellus enim erat, vestibulum vel, aliquam a, posuere eu, velit. Suspendisse sagittis ultrices augue. Mauris suscipit, ligula sit amet pharetra semper, nibh ante cursus purus, vel sagittis velit mauris vel metus. Duis viverra diam non justo. Nulla non lectus sed nisl molestie malesuada. Etiam neque.</p>
	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer rutrum, orci vestibulum ullamcorper ultricies, lacus quam ultricies odio, vitae placerat pede sem sit amet enim. Nulla quis diam. Donec vitae arcu. Quis autem vel eum iure reprehenderit qui ine malesuada. Etiam neque.</p>

	<a class="btn text-decoration-none p-3 w-100 offer-btn" asp-area="" asp-controller="Nabidky" asp-action="Index">Prohlédnout nabídku</a>

	<p class="pt-3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer rutrum, orci vestibulum ullamcorper ultricies, lacus quam ultricies odio, vitae placerat pede sem sit amet enim. Nulla quis diam. Donec vitae arcu. Quis autem vel eum iure reprehenderit qui ine malesuada. Etiam neque.</p>

</div>


